<h1>Datacenter</h1>

<div ng-if="$ctrl.providers.length == 0">
  You don't have any Providers, <a href="/#!/providers">please add one</a>.
</div>

<div id="messages">
  <pre ng-repeat="msg in $ctrl.messages track by $index" class="bg-info">{{ msg }}</pre>
</div>

<form class="form-group" method="post" ng-if="$ctrl.providers.length > 0">
  <div class="form-group" ng-if="$ctrl.datacenter.id">
    <label for="name">ID</label>
      <input type="text" ng-model="$ctrl.datacenter.id"
      class="form-control"
      readonly="true" />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
      <input type="text" ng-model="$ctrl.datacenter.name"
      class="form-control"
      pattern="^[a-z0-9\-]*$" ng-pattern-restrict/>
  </div>
  <div class="form-group">
    <label for="provider">Provider</label>
      <select class="form-control"
        ng-options="option.id as option.name for option in $ctrl.providers"
        ng-model="$ctrl.datacenter.provider">
        <option value="">Select a Provider</option>
      </select>
  </div>

  <!-- Default Meta -->
  <div class="form-group" ng-repeat="meta in $ctrl.config.datacenter.meta">
    <label for="{{ meta.key }}">{{ meta.description }}</label>
      <input type="{{ meta.html }}" ng-model="$ctrl.datacenter.meta[meta.key]"
      class="form-control" placeholder="{{ meta.placeholder }}" />
  </div>

  <!-- Aditional Meta -->
  <div class="form-group">
    <label for="meta">Meta</label>
    <div ng-repeat="(key, value) in $ctrl.datacenter.meta" ng-if="$ctrl.showAsMeta(key)" class="row form-group">
      <div class="col-md-5">
        <input readonly type="text"
          class="form-control"
          value="{{ key }}" />
      </div>
      <div class="col-md-6">
        <input type="text" ng-model="$ctrl.datacenter.meta[key]"
          class="form-control" />
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger btn-block" ng-click="$ctrl.removeMeta(key)">-</button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-5">
        <input type="text"
          class="form-control"
          placeholder="New Meta Key"
          ng-model="metaKey"
          pattern="^[a-z0-9\-]*$" ng-pattern-restrict/>
      </div>
      <div class="col-md-6">
        <input type="text"
          class="form-control"
          ng-model="metaValue"
          placeholder="New Meta Value"/>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary btn-block" ng-click="$ctrl.addMeta(metaKey, metaValue)">+</button>
      </div>
    </div>
  </div>
  <button ng-if="!$ctrl.datacenter.id" type="submit" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
  <button ng-if="$ctrl.datacenter.id" type="submit" class="btn btn-danger" ng-click="$ctrl.remove()">Remove</button>

</form>
